.btn{
  font-size: var(--bs-body-font-size);
}

.shiny-bound-input {
	font-size: var(--bs-body-font-size);
}

.form-group {
  	margin-bottom: 0;
}

.form-select {
	&:focus {
		border-color: var(--endikau-blue-light);
	}
}

.vertical-input-group {
  .input-group:first-child {
      padding-bottom: 0;
  }
  .input-group:first-child * {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;    
  }
  .input-group:last-child {
      padding-top: 0;
  }
  .input-group:last-child * {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .input-group:not(:last-child):not(:first-child) {
      padding-top: 0;
      padding-bottom: 0;
  }
  .input-group:not(:last-child):not(:first-child) * {
      border-radius: 0;
  }  
  .input-group:not(:first-child) * {
      border-top: 0;
  }
}

.accordion-button-primary {
  @extend .accordion-button;
  color: #ffffff;
  background-color: $primary;  
  justify-content: center;

  &::after { all: initial; }
  
  &::before {
    flex-shrink: 0;
    margin-right: 0.25rem;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
  }
  
  &:not(.collapsed){
    color: #ffffff;
    background-color: $primary;  
    
    &::before { transform: rotate(-180deg); }
    
  }
  
}
