$nd-gutter-x: 3rem;

$nd-navbar-color: #e9ebe5;
$nd-navbar-bg: #2e2933;

:root {
	--nd-navbar-color: #{$nd-navbar-color};
	--nd-navbar-bg: #{$nd-navbar-bg};
  /* --endikau-pre-bg: var(--bs-tertiary-bg); */
}

/* #f9ddda,#f2b9c4,#e597b9,#ce78b3,#ad5fad,#834ba0,#573b88 */
/* #262F36, #907F9F, #C79E8E, #F9DBBD */
